@model IPagedList<Product>
@using GeneralResources = lean.UI.LocalResources.Resource;


<div class="table-responsive mb-3 shadow" @(Model.Count == 0 ? "hidden" : "")>
    <table class="table table-hover" id="tblWhatWeDelivereds">
        <thead>
            <tr>
                <th><a href="#" class="plus" onclick="addProduct()"><i class="fa fa-plus-circle"></i></a></th>
                <th>@GeneralResources.Photo</th>
                <th>@GeneralResources.Name</th>
                <th>@GeneralResources.Description</th>
                <th>@GeneralResources.Edit</th>
                <th>@GeneralResources.Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="td-small"><span class="row-index"></span></td>
                    <td class="patchs-row">
                        <a class="a-img fancybox" href="@item.ImgPath">
                            <img width="55" height="55" class="img circular" src="@item.ImgPath" />
                        </a>
                    </td>
                    <td class="patchs-row">@item.Title</td>
                    <td class="patchs-row">@item.Desc</td>
                    <td class="td-small"><button class="btn btn-secondary" onclick="editProduct('@item.Id')"><i class="fa fa-edit"></i></button> </td>
                    <td class="td-small"><button class="btn btn-danger" onclick="deleteProduct('@item.Id')"><i class="fa fa-trash"></i></button> </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="pagedList text-center" data-target="#ProductList">
    @if (Model.Count > 0)
    {
        @Html.PagedListPager(Model, page => Url.Action("Home", "Product", new { page = page }))
    }
</div>


<div @(Model.Count > 0 ? "hidden" : "")>
    @Html.Partial("~/Views/Shared/Partial/_NoDataPartial.cshtml", "addProduct()")
</div>
