@model ConstructionUpdatesProject
@using GeneralResources = lean.UI.LocalResources.Resource;

<script src="~/Content/js/pages/ConstructionUpdates.js?v=@DateTime.Now.Day"></script>

<div class="table-responsive mb-3 shadow">
    <table class="table table-hover" id="tblConstructionUpdates">
        <thead>
            <tr>
                @*<th><a href="#" class="plus" onclick="addConstructionUpdates()"><i class="fa fa-plus-circle"></i></a></th>*@
                <th><a href="javascript:void(0)" class="plus" onclick="addConstructionUpdates(@Model.ProjectId)"><i class="fa fa-plus-circle"></i></a></th>
                <th>@GeneralResources.Photo</th>
                <th>@GeneralResources.Name</th>
                <th>@GeneralResources.Description</th>
                <th>@GeneralResources.Edit</th>
                <th>@GeneralResources.Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.constructionUpdates)
            {
                <tr>
                    <td class="td-small"><span class="row-index"></span></td>
                    <td class="patchs-row">
                        <a class="a-img fancybox" href="@item.AttachmentUrl">
                            <img width="55" height="55" class="img circular" src="@item.AttachmentUrl" />
                        </a>
                    </td>
                    <td class="patchs-row">@item.Name</td>
                    <td class="patchs-row">@item.Description</td>
                    <td class="td-small"><button type="button" class="btn btn-secondary" onclick="editConstructionUpdates('@item.Id',@Model.ProjectId)"><i class="fa fa-edit"></i></button> </td>
                    <td class="td-small"><button type="button" class="btn btn-danger" onclick="deleteConstructionUpdates('@item.Id',@Model.ProjectId)"><i class="fa fa-trash"></i></button> </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@*<div class="pagedList text-center" data-target="#ConstructionUpdatesList">
        @if (Model.Count > 0)
        {
            @Html.PagedListPager(Model, page => Url.Action("Index", "ConstructionUpdates", new { page = page }))
        }
    </div>*@


@*<div @(Model.Count > 0 ? "hidden" : "")>
        @Html.Partial("~/Views/Shared/Partial/_NoDataPartial.cshtml", "addConstructionUpdates()")
    </div>*@
