@model IPagedList<ContactUsRequest>
@using GeneralResources = lean.UI.LocalResources.Resource;


<div class="table-responsive mb-3 shadow" @(Model.Count == 0 ? "hidden" : "")>
    <table class="table table-hover" id="tblContactUsRequest">
        <thead>
            <tr>
                <th></th>
                <th>@GeneralResources.Name</th>
                <th>@GeneralResources.Email</th>
                <th>@GeneralResources.MobileNumber</th>
                <th>@GeneralResources.ContactUsReason</th>
                <th>@GeneralResources.VIEW</th>
                <th>@GeneralResources.Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="td-small"><span class="row-index"></span></td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.MobileNumber</td>
                    <td>
                        @(item.ContactUsReason!=null?item.ContactUsReason.Name: item.ContactUsReasonText)
                    </td>
                    <td class="td-small"><button class="btn btn-secondary" onclick="viewContactUsRequest('@item.Id')"><i class="fa fa-eye"></i></button> </td>
                    <td class="td-small"><button class="btn btn-secondary" onclick="deleteContactUsRequest('@item.Id')"><i class="fa fa-trash"></i></button> </td>
                </tr>

            }
        </tbody>
    </table>
</div>
<div class="pagedList text-center" data-target="#contactUsRequestList">
    @if (Model.Count > 0)
    {
        @Html.PagedListPager(Model, page => Url.Action("Index", "ContactUsRequest", new { page = page }))
    }
</div>


<div @(Model.Count > 0 ? "hidden" : "")>
    @Html.Partial("~/Views/Shared/Partial/_NoDataPartial.cshtml", "")
</div>


