@using lang = lean.UI.LocalResources
@{
    ViewBag.Title = "Home Page";

    List<WhatWeDelivered> services = ViewBag.WhatWeDeliver != null ? ViewBag.WhatWeDeliver as List<WhatWeDelivered> : new List<WhatWeDelivered>();
    List<Project> potfolio = ViewBag.Portfolio != null ? ViewBag.Portfolio as List<Project> : new List<Project>();
    List<WhyUS> WhyUs = ViewBag.WhyUs != null ? ViewBag.WhyUs as List<WhyUS> : new List<WhyUS>();
    List<Clients> clients = ViewBag.Clients != null ? ViewBag.Clients as List<Clients> : new List<Clients>();
}




<div class="intro-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-slider margi-0">
                    <div class="intro-slider-item ">
                        <div class="Image_BAck_Location">
                            <img src="~/assets/img/ImagesSlide/slide_bg_img-2.png" />
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="details">
                                    <h2 data-aos="zoom-in">
                                        MOBILE APP <br /> DEVELOPMENT
                                    </h2>
                                    <p>
                                        In today’s world mobile is not only a way to communicate but also a way to explore your business around the world.
                                    </p>
                                    <a href="javascript: void(0);" class="Linkes_Requst">
                                        REQUEST A QUOTE
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="imagess">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="images_child">

                                                <img class="image_One Image_Single" src="~/assets/img/ImagesSlide/all-apps-screen-t.png" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>
                    <div class="intro-slider-item ">
                        <div class="Image_BAck_Location">
                            <img src="~/assets/img/ImagesSlide/slide_bg_img-2.png" />
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-xs-12">
                                <div class="details">
                                    <h2 class="aos-init aos-animate" data-aos="zoom-in">Traking <br /> Mobile Apps</h2>
                                    <p class="aos-init aos-animate" data-aos="fade-down">
                                        In today’s world mobile is not only a way to communicate but also a way to explore your business around the world.
                                    </p>
                                    <a href="javascript: void(0);" class="Linkes_Requst">
                                        REQUEST A QUOTE
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="imagess">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="images_child">
                                                <img class="image_One" src="~/assets/img/ImagesSlide/New-Project-10.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="images_child">
                                                <img class="image_Two" src="~/assets/img/ImagesSlide/New-Project-11.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="images_child">
                                                <img class="image_Three" src="~/assets/img/ImagesSlide/New-Project-7.jpg" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="images_child">
                                                <img class="image_Four" src="~/assets/img/ImagesSlide/New-Project-9.jpg" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="images_BAck_Location">
                                <img class="image_Location" src="~/assets/img/ImagesSlide/image_2020_04_04T08_51_31_605Z.png" />
                            </div>

                        </div>


                    </div>

                    <div class="intro-slider-item ">
                        <div class="Image_BAck_Location back_Ground_All">
                            
                            <img src="~/assets/img/ImagesSlide/slider-part-1.jpg" />
                        </div>
                        <div class="row">
                            <div class="col-lg-8 col-xs-12">
                                <div class="details">
                                    <h2 data-aos="zoom-in" class="H2_Color_White" style="">
                                        IDEA. DESIGN. DEVELOP. DEPLOY. SUPPORT 
                                    </h2>
                                   
                                    <a href="javascript: void(0);" class="Linkes_Requst">
                                        REQUEST A QUOTE
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <div class="imagess">
                                    <div class="row">
                                        @*<div class="col-lg-12">
                                            <div class="images_child">

                                                <img class="image_One Image_Single" src="~/assets/img/ImagesSlide/all-apps-screen-t.png" />
                                            </div>
                                        </div>*@

                                    </div>
                                </div>
                            </div>



                        </div>


                    </div>
                    @*<div class="intro-slider-item">
            <video autoplay muted loop class="myVideo">
                <source src="~/assets/vedio.mp4" type="video/mp4">
            </video>
            <div class="slider-content" data-aos="fade-up">
                <h1 class=" animated fadeInDownBig">hi there !</h1>
                <h2 class="intro-title animated fadeIn delay_1">@lang.Resource.WeAre <span id="typed_2" style="white-space:pre;"></span></h2>
                <div id="typed-strings_2" class="writerwordes">
                    <p><i>the lean Company</i></p>
                    <p><i>Software House</i></p>

                </div>
                <p class="prag">
                    @lang.Resource.theLeanDesc
                </p>
            </div>
        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>








<!-- start intro-section -->

@*<div class="intro-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-slider margi-0">
                    <div class="intro-slider-item">
                        <video autoplay muted loop class="myVideo">
                            <source src="~/assets/vedio.mp4" type="video/mp4">
                        </video>
                        <div class="slider-content" data-aos="fade-up">
                            <h1 class=" animated fadeInDownBig">hi there !</h1>
                            <h2 class="intro-title animated fadeIn delay_1">@lang.Resource.WeAre <span id="typed" style="white-space:pre;"></span></h2>
                            <div id="typed-strings" class="writerwordes">
                                <p><i>the lean Company</i></p>
                                <p><i>Software House</i></p>

                            </div>
                            <p class="prag">
                                @lang.Resource.theLeanDesc
                            </p>
                        </div>
                    </div>
                    <div class="intro-slider-item">
                        <video autoplay muted loop class="myVideo">
                            <source src="~/assets/vedio.mp4" type="video/mp4">
                        </video>
                        <div class="slider-content" data-aos="fade-up">
                            <h1 class=" animated fadeInDownBig">hi there !</h1>
                            <h2 class="intro-title animated fadeIn delay_1">@lang.Resource.WeAre <span id="typed_2" style="white-space:pre;"></span></h2>
                            <div id="typed-strings_2" class="writerwordes">
                                <p><i>the lean Company</i></p>
                                <p><i>Software House</i></p>

                            </div>
                            <p class="prag">
                                @lang.Resource.theLeanDesc
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<!-- end intro-section -->
<!-- start whatWeDo-section -->

<div class="whatWeDo-section paddin-60">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title1" data-aos="fade-up">
                    <h2 class="titlewhat">THE Lean</h2>
                    <h3 class="title">
                        @lang.Resource.WhatWeDelivered
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">

            @foreach (var item in services)
            {
                <div class="col-lg-4 col-md-6 col-xs-12">
                    <div class="what-box">
                        <h6 class="boxwhat-title">
                            @item.Name
                        </h6>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-what-box" data-aos="fade-down">
                                    <img src="@item.ImageUrl" class="img-fluid" alt="img" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p class="prag">
                                    @item.Description
                                </p>
                                @*<div data-aos="zoom-in" class="button-link1">
                                        <a href="#">
                                            Details
                                        </a>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            }



        </div>
        <div class="row">
            <div class="col-md-12">
                <div data-aos="zoom-in" class="button-link1 see-more-button">
                    <a href="#">
                        @lang.Resource.SEEMORE
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- end whatWeDo-section -->
<!-- start portfolio-section -->

<div class="portfolio-section ">
    <div class="image_top">

        <img src="~/assets/img/DropLinkshortbottom.png" />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title3">
                    @*<h1 class="titleLean">The Lean</h1>*@
                    <h4 class="title">
                        @lang.Resource.Our
                        <span>@lang.Resource.Portfolio</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @for (int i = 0; i < potfolio.Count; i += 4)
        {
            var prot = potfolio[i] as Project;
            var prot1 = potfolio[i + 1] as Project;
            var prot2 = potfolio[i + 2] as Project;
            var prot3 = potfolio[i + 3] as Project;
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-11 col-md-12">
                    <div class="portfolio-box">
                        <div class="portfolio-pop-box" data-aos="fade-up">
                            <a class="fancy-img-box vedioGallery-popup" data-fancybox="gallery" href="@prot.CoverUrl.Replace(@"\", @"/")" tabindex="0">
                                <div class="portfolio-pimg" style="background-image: url('@prot.CoverUrl.Replace(@"\", @"/")');">
                                    <h5 class="project-title">
                                        @prot.Title
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-pop-box" data-aos="fade-up">
                            <a class="fancy-img-box vedioGallery-popup" data-fancybox="gallery" href="@prot1.CoverUrl.Replace(@"\", @"/")" tabindex="0">
                                <div class="portfolio-pimg" style="background-image: url('@prot1.CoverUrl.Replace(@"\", @"/")');">
                                    <h5 class="project-title">
                                        @prot1.Title
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-pop-box" data-aos="fade-up">
                            <a class="fancy-img-box vedioGallery-popup" data-fancybox="gallery" href="@prot2.CoverUrl.Replace(@"\", @"/")" tabindex="0">
                                <div class="portfolio-pimg" style="background-image: url('@prot2.CoverUrl.Replace(@"\", @"/")');">
                                    <h5 class="project-title">
                                        @prot2.Title
                                    </h5>
                                </div>
                            </a>
                        </div>
                        <div class="portfolio-pop-box" data-aos="fade-up">
                            <a class="fancy-img-box vedioGallery-popup" data-fancybox="gallery" href="@prot3.CoverUrl.Replace(@"\", @"/")" tabindex="0">
                                <div class="portfolio-pimg" style="background-image: url('@prot3.CoverUrl.Replace(@"\", @"/")');">
                                    <h5 class="project-title">
                                        @prot3.Title
                                    </h5>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }


        <div class="row">
            <div class="col-md-12">
                <div data-aos="zoom-in" class="button-link1 see-more-button">
                    <a href="#">
                        @lang.Resource.SEEMORE
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="image_bottom">

        <img src="~/assets/img/DropLinkshort.png" />
    </div>
</div>

<!-- end portfolio-section -->
<!-- start why-us-section -->
<div class="why-us-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title1" data-aos="fade-up">
                    <h1 class="titlewhat">the lean</h1>
                    <h3 class="title">
                        @lang.Resource.Whyus
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in WhyUs)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="why-box useusdev" data-aos="zoom-in">
                        <div class="row">
                            <div class="col-12">
                                <div class="images">
                                    <img src="@item.ImgUrl" alt="" class="img-fluid" />
                                </div>
                                
                            </div>
                            <div class="col-12">
                                <div class="why-box-content">
                                    <h4 class="why-title">
                                        @item.Title
                                    </h4>
                                    <p class="prag2">
                                        @item.Description
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


</div>
<!-- end why-us-section -->
<!-- satrt clients-section -->
<div class=" clients-section">
    <div class="image_top">

        <img src="~/assets/img/DropLinkshortbottom.png" />
    </div>
    <div class="Clients">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title3">
                        <h4 class="title">
                            @{ if (!MySession.IsArabic)
                                {

                                    @lang.Resource.Our
                                }
                            }
                            <span>@lang.Resource.Clients</span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 d-flex" style="align-items: center;">
                    <div class="clients-title-box">
                        <h2 class="titleclients">
                            @lang.Resource.SatisfiedCustomers
                        </h2>
                        <p class="prag2">
                            @lang.Resource.SatCustomerDesc
                        </p>
                    </div>
                </div>
                @for (int i = 0; i < clients.Count; i += 2)
                {
                    var item = i <= clients.Count ? clients[i] as Clients : null;
                    var item2 = i + 1 < clients.Count ? clients[i + 1] as Clients : null;
                    <div class="col-lg-2 col-md-6">

                        @if (item != null)
                        {
                            <div data-aos="fade-up" class="img-clint-box clint-box-1 ro1">
                                <img src="@item.imgUrl" alt="img" class="img-fluid" />
                            </div>
                        }

                        @if (item2 != null)
                        {
                            <div data-aos="fade-up" class="img-clint-box clint-box-2">
                                <img src="@item2.imgUrl" alt="img" class="img-fluid" />
                            </div>
                        }

                    </div>
                }



            </div>
            <div class="row">
                <div class="col-md-12">
                    <div data-aos="zoom-in" class="button-link1 see-more-button">
                        <a href="#">
                            @lang.Resource.SEEMORE
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image_bottom">
        <img src="~/assets/img/DropLinkshort.png" />
    </div>

    <!-- end clients-section -->






